BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  BeforeCatch: true
  BeforeWhile: true

AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty

ColumnLimit: 100

SpaceBeforeParens: Never
SpacesInParentheses: false

PointerAlignment: Left

IndentCaseLabels: true